<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de usuários</title>
</head>
<body>
    
    <h1>Lista de usuários</h1>

    <div th:each="user : ${users}">
        <h3>[[${user.username}]]</h3>
        <p>Nome: [[${user.name}]]</p>
        <p>Email: [[${user.email}]]</p>
        <br>
    </div>

    <a href="/admin"><button>Retornar</button></a>

</body>
</html>